{% extends "base/base.html" %}
{% block title %}News{% endblock title %}

{% block content %}
<!--================================-->
<!-- Page Inner Start -->
<!--================================-->
<div class="page-inner">
    <!--================================-->
    <!-- Main Wrapper Start -->
    <!--================================-->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-y-25">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20 text-overflow">News</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="/mega-soft/"><i class="icon ion-ios-home-outline"></i> Home</a>
                <a class="breadcrumb-item" href="javascript:void(0)">News</a>

            </div>
        </div>
        <!--/ Breadcrumb End -->
        <!--================================-->
        <!-- Count Card Start -->
        <!--================================-->
        <div class="row mt-5 mb-5">
            <div class="col-lg-3 col-md-4 col-sm-12 mb-5">

                <div class="card m-1">
                    <img class="card-img-top ht-200" src="../email/img/blog-post.png" alt="">
                    <div class="card-footer tx-center d-block">
                        <a class="btn btn-info" href="../email/marketing-templates/blog-post/blog-post.html"
                            target="_blank">Go to</a>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
{% endblock content %}